*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    background-color: black;
    
    
}

body{
    height: 100vh;
    width: 100%;
    background-color: #191919;
}

.container-fluid{
    background-color: #191919;
   
    .navbar-collapse{
       .navbar-nav{
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        margin-right: 30px;
        .active{
            display: flex;
            background-color: #191919;
           
        }
       } 
    }
}
.container{
    img{
        margin-top: 0px;
    }
    .text-center{
        font-size: 50px;
        margin-top: 250px;
        width: 370px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fc{
        color: white;
    }
    .roww{
        width: 270px;
    }
}
.mt-5{
    color: white;
}
.three{
    display: flex;
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
    }
}
.container .rounded-3{
    background-color: black;
    position: relative;
    .col-4{
        background-color: black;
        
        }
    .col-8 .bg-dark{
        margin-left: -40px;

    }
    
}.col-8{
    .btn-dark{
        width: 50px;
    }
    .mt-5{
        width: 400px;
    }
}
.container{
    .rows{
        display: flex;
        gap: 50px;
       
    }
}
    